body {
    /*padding-bottom: 20px;*/
    /*background-color: #EAEBEF;*/
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*ERecord CSS*/
.field-validation-error,
 label.error {
      color: red;
 }

.input-validation-error,
input.error {
    border: 2px solid red;
}

.validation-summary-errors {
    color: red;
}

.EmployeeName {
    color: red;
}

.bg-white {
    background-color: #FFFFFF;
}

.bg-grey {
    background-color: #4E5665;
}

.bg-ash {
    background-color: #EAEBEF;
}

.color-green {
    color: #36C9D6;
}

.height {
    height: 100vh;
}

.height-short {
    height: 80vh;
}

.minustwenty {
    margin-bottom: 0px;
}

.bt-width-override {
    width: 82% !important;
}

/*ERecord Reg Page*/
.reg-page {
    margin: 0;
    width: 100%;
    background-color: #4e5665;
    text-align: center;
    padding: 50px;
    box-sizing: border-box;
}

.reg-form {
    width: 50%;
    margin: 0 auto;
}

.reg-logo {
    margin-bottom: 20px;
}

.reg-h4 {
    color: #5BC0DE;
    margin-bottom: 30px;
}

.reg-login {
    color: #FFE4BD;
    font-weight: bold;
}