* {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
 }

body {
	/*padding-bottom: 20px;*/
	/*background-color: #EAEBEF;*/
	font-family: "Lato", sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}


/*ERecord CSS*/
.field-validation-error,
 label.error {
	  color: red;
 }

.input-validation-error,
input.error {
	border: 2px solid red;
}

.validation-summary-errors {
	color: red;
}

.EmployeeName {
	color: red;
}

.bg-white {
	background-color: #FFFFFF;
}

/*.bg-grey {
	background-color: #4E5665;
}

.bg-ash {
	background-color: #EAEBEF;
}

.color-green {
	color: #36C9D6;
}

.height {
	height: 100vh;
}

.height-short {
	height: 80vh;
}

.minustwenty {
	margin-bottom: 0px;
}

.bt-width-override {
	width: 82% !important;
}*/


/*ERecord Reg and Login Page*/
.reg-page,
.login-page {
	margin: 0;
	width: 100%;
	background-color: #4e5665;
	text-align: center;
	padding: 50px;
	box-sizing: border-box;
}

.reg-form {
	width: 50%;
	margin: 0 auto;
}

.login-form {
	width: 27%;
	margin: 0 auto;
}

.reg-logo,
.login-logo {
	margin-bottom: 20px;
}

.reg-h4 {
	color: #5BC0DE;
	margin-bottom: 30px;
}

.reg-login {
	color: #FFE4BD;
	font-weight: bold;
}

/*ERecord Edit Page*/
.edit-page {
	width: 100%;
	margin: 0;
	padding: 45px;
}

.edit-form {
	width: 80%;
	margin: 0 auto;
}

.edit-h4 {
	text-align:justify;
	margin-bottom: 30px;
}

.display-name {
	color: #fd9a0b;
}

/*ERecord _Layout Page*/

.sidenav {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #2D3945;
	overflow-x: hidden;
}

.sidenav a:hover {
	color: aliceblue;
}

.main {
	margin-left: 241px; /* Same as the width of the sidenav */
	padding: 0px 10px;
}

.nav-color {
	background-color: #33414E;
}
.nav-bar a {
	color: aliceblue;
}

.navbar-nav > li > a {
	color: #FFE4BD;
}

.nav > li > a:hover, .nav > li > a:focus,
.navbar-brand:hover, .navbar-brand:focus,
.img-logo {
	background-color: #250707;
}

.navbar-brand,
.navbar-nav > li > a.greeting {
	color:aliceblue;
}

.img-logo {
	padding-bottom: 20px;
	border-radius: 5px;
}

.add-new-employee {
	margin-top: 70px;
	margin-left: 30px;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}