@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Eko Atlantic<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    +234 810 369 1525
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:slamdam27@gmail.com">Support@erecord.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:slamdam27@gmail.com.com">Marketing@erecord.com</a>
</address>